header {
    background-color: #9C3608;

    height: 146px;
    display: flex;
    margin: 0;
    font-family: 'Mulish', sans-serif;


}


header>img {


    /* Чернігів Туристичний (2) 1 */

    margin-left: 100px;
    width: 110px;
    height: 110px;
    left: 100px;
    margin-top: 20px;
    border-radius: 10px;
}


main {
    /*margin: 100px 100px;*/
}

.menu {

    font-size: 24px;
    font-weight: 800px;

}


.menu>ul {
    padding-left: 0;
    padding-top: 40px;
    text-indent: 55px;

}


.menu>ul>li {
    list-style-type: none;
    display: inline-block;


}

.menu>ul>li>a {


    color: #FFFFFF;
    text-decoration: none;

}

.menu>ul>li>a:hover {
    color: #FAB402;
    font-weight: 800px;
}

#activ-link {
    color: #FAB402;
}


body {
    background-color: #B56948;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

/* фото головне */

#main-foto {
    margin-left: 200px;
    margin-right: 200px;
    filter: drop-shadow(20px);

    border-radius: 10px;

    width: 1240;
    height: 500px;

    display: flex;

}

.title-text {
    display: none;

}

#foto-text {
    display: flex;
    padding-left: 200px;

}



footer {
    background-color: hsla(18, 82%, 15%, 0.347);
    height: 187px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Contacts {
    font-size: 14px;
    display: inline-block;
    gap: 50px;

}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


#text-footer {
    justify-content: end;
    font-size: 10px;
    font-style: italic;
    display: flex;

    text-align: start;
    ;

}

.insta>img {
    width: 35px;
    height: 35px;

}


.insta {
    display: flex;
    gap: 30px;
}

#bar {
    display: none;
    margin-top: 70px;
}

.navbar-toggle>i {
    color: #FFFFFF;
    padding-top: 10px;

}

.navbar-toggle>i:hover {
    color: #FAB402;
    cursor: pointer;
}






/*Для другої сторінки Наші екскурсії*/



.info_container {
    display: flex;
    justify-content: center;
    align-content: center;

}

.inform {
    display: flex;
    justify-content: center;

    padding-top: 10px;
}

.collection_item {
    width: 290px;
    background-color: #EFD2C5;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 100px;
}


.collection_item>p {
    color: #050505;
    padding-left: 20px;
    padding-right: 20px;
}

.collection_item>button {

    border: 1px solid;
    color: #9C3608;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 70px;
    text-align: center;
    justify-content: center;


}



.collection_item>button:hover {
    background-color: #fab40242;
    color: #9C3608;
    font-weight: 700;
    cursor: pointer;
}








@media screen and (max-width: 824px) {

    header>img {
        margin-left: 10px;
        width: 80px;
        height: 80px;

    }




    .menu.active {


        position: absolute;
        right: 0;
        top: 0px;

        height: 120vh;
        background-color: hsla(18, 82%, 15%, 0.8);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 210px;
        border-radius: 5px;



    }



    .menu {
        display: none;

    }




    .menu>ul {
        display: grid;


    }

    .menu a {
        padding: 20px;
        display: block;

    }

    #bar {
        display: block;
    }

    nav {
        width: 0;
        margin-left: -40px;
    }

    header {
        justify-content: start;
        gap: 40px;
    }





    .Contacts {
        display: none;
    }

    #foto-text {
        display: none;

    }

    #main-foto {
        width: 450px;
        height: auto;
        margin-left: 10px;
        display: flex;
    }


    .title-text {
        display: block;
        text-align: center;
        background-color: #EFD2C5;
        border-radius: 10px;
        width: 450px;
        margin-left: 10px;
        margin-top: 0;
    }

    #text-footer {
        margin-left: 10px;
    }


    /*ДЛя другої сторінки Наші екскурсії*/


    .inform {
        display: block;

    }

    .collection_item img {
        height: auto;

        width: 300px;



    }

    .collection_item {
        height: auto;
        width: 300px;
        font-size: 14px;

    }



    .collection_item>button {}




}